@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

html {

  box-sizing: border-box;
  font-size: 100%;
  

}

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.icon {
  cursor: pointer;
}

.avatar {
  height: 1.563rem;
}

.logo {

  position: relative;
  right: 1.7rem;
}

.cart {
  position: relative;
  left: 1.4rem;
}

 @media screen and (min-width: 900px) {
  .cart {
    display: none;
  }
} 